@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #528365;
  --secondary-color: #84d1a3;
}

/* custom scroll bar design */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 100vw;
  margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 100vw;
}

/* navbar design */
button:hover path {
  fill: black;
}

.active-btn path {
  fill: black;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="password"]:focus {
  border: none;
  outline: none;
}

form:focus-within {
  border-bottom: 2px solid var(--primary-color);
}

form path {
  color: var(--primary-color);
}

form path:hover {
  fill: var(--primary-color);
}

.w-8 {
  width: 2rem;
}

.h-8 {
  height: 2rem;
}

@media (max-width: 700px) {
  #nav-bar {
    display: none;
  }

  #profile {
    display: none;
  }

  #posts {
    width: 100%;
    border: none;
  }
}

/* user input css login and signUp page  */
.login-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.login-container-div {
  background-color: #ffffff;
  width: 50%;
}

@media (max-width: 700px) {
  .login-container-div {
    width: 80%;
  }
}

.input-container {
  position: relative;
  width: 18rem;
}

.input-container input {
  position: absolute;
  background: transparent;
}

.input-container:focus-within {
  border: 2px solid var(--primary-color);
}

.input-container:focus-within span {
  font-size: small;
  color: var(--primary-color);
  font-weight: 500;
}

.input-container:focus-within input {
  position: relative;
}

.input-active span {
  font-size: small;
  color: var(--primary-color);
  font-weight: 500;
}

.input-active input {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--primary-color);
}

.sign-up a {
  color: var(--primary-color);
  font-weight: bold;
}

.step {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 600;
}

.auth-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* new message style */
.new-message {
  color: var(--primary-color);
  font-weight: bold;
}

textarea {
  border: 2px solid var(--primary-color);
}

textarea:focus-within {
  border: 2px solid var(--primary-color);
  outline: none;
}

@media (max-width: 700px) {
  textarea {
    width: 100%;
    margin: 2px 10px 2px 10px;
  }
}

/* user profile details  */

.user-name {
  color: var(--primary-color);
}
